<div class="list_vertical">
  <div class="list_vertical" id="container"> </div>
  <button class="update_button" onclick="loadMoreComments()">Загрузить больше комментариев</button>
  <script src="scripts/comments.js"></script>
</div>
