<div class="list_vertical">
  <header class="menu_header">
    <h1> Моя страничка </h1>
    {{#if isEditor}}
      {{>headerEditor}}
    {{else}}
      {{>headerGuest}}
    {{/if}}
    Вы вошли как {{name}}
  </header>
</div>