<nav class="menu_horizontal">
  <a href="../" class="button"> Посты </a>
  <a href="../open" class="button"> Открыть пост </a>
  <a href="../upload" class="button"> Загрузить пост </a>
  <a href="../my-posts/me" class="button"> Ваши посты </a>
  <a href="../my-comments/me" class="button"> Ваши комментарии </a>
</nav>