<div class="list_vertical">
  <div class="list_vertical" id="container">
    <div class="article">
      <form class="form">
        <input type="text" id="id" name="id">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <script src="scripts/loadpost.js"></script>
</div>