<div class="flex_container">
<div class="list_vertical">
  <div class="article">
    <form class="form">
      Логин автора: <input type="text" id="login" name="login"><br>
      Имя автора: <input type="text" id="fullName" name="fullName"><br>
      Заголовок: <input type="text" id="headline" name="headline"><br>
      Описание: <input type="text" id="description" name="description"><br>
      Тег: <input type="text" id="tag" name="tag"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <br><br>
</div>
</div>
<div class="list_vertical">
  <div class="list_vertical" id="container"> </div>
  <button class="update_button" onclick="loadMorePosts()">Загрузить больше постов</button>
</div>
<script src="scripts/gallery.js"></script>