<div class="list_vertical">
  <div class="list_vertical" id="container"> </div>
  <button class="update_button" onclick="loadMorePhotos()">Загрузить больше фотографий</button>
  <script src="scripts/gallery.js"></script>
</div>