<div class="list_vertical">
  <div class="flex_container">
    <div class="article">
      <form class="form" id="form">
        <h2> Загрузить пост </h2>
        <label for="text">Заголовок:</label>
        <input type="text" id="headline" name="headline"><br><br>
        <label for="text">Ссылки на фотографии (через пробел):</label>
        <input type="text" id="photos" name="photos"><br><br>
        <label for="text"> Теги (через пробел):</label>
        <input type="text" id="tags" name="tags"><br><br>
        <label for="text">Текст:</label>
        <br>
        <textarea type="text" id="text" name="text"></textarea><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<script src="../scripts/uploadpost.js"></script>